[run]
branch = True

omit =
    /*/migration*
    /*/tests*
    contributr/settings/*
    contributr/wsgi*
    /*/admin.py
    /*/settings
    /*/__*
    manage.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:

ignore_errors = True
